<div class="home-container">
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" (click)="toggleNavbar()"></mat-icon>
  <div class="home-content">
    <h1>Welcome to the Module Mobile Anwendungssysteme - WiSe 23/24</h1>
    <p>
      Welcome to the home page of the Mobile Anwendungssysteme module for the winter semester 23/24.
      Here you can find all the necessary resources and links related to this module.
    </p>
    <ul>
      <li>
        <a href="https://github.com/Knaeckebrothero/University-MobApp" target="_blank">GitHub Project</a>
      </li>
      <li>
        <a href="https://campuas.frankfurt-university.de/course/view.php?id=4626" target="_blank">Moodle Page</a>
      </li>
    </ul>
    <p>Module Leaders: name1 and name2 </p>
  </div>
</div>
