<div class="columns">
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" (click)="toggleNavbar()"></mat-icon>
  <div class="column">
    <p><button type="button" (click)="getStream('video')">Grab video</button></p>
    <video #videoElement controls autoplay style="height:180px; width: 240px;"></video>
  </div>
  <div class="column">
    <p><button type="button" (click)="getStream('audio')">Grab audio</button></p>
    <audio #audioElement controls></audio>
  </div>
</div>