<div *ngIf="isSupported; else notSupportedMessage">
    <table>
      <tr>
        <td>Tilt Left/Right [gamma]</td>
        <td>{{ tiltLR }}</td>
      </tr>
      <tr>
        <td>Tilt Front/Back [beta]</td>
        <td>{{ tiltFB }}</td>
      </tr>
      <tr>
        <td>Direction [alpha]</td>
        <td>{{ direction }}</td>
      </tr>
    </table>
  
    <div id="logoContainer" [style.transform]="getTransform()">
      <img src="https://www.w3.org/html/logo/downloads/HTML5_Badge_512.png" id="imgLogo" alt="HTML5 Logo">
    </div>
  
    <p><small>Demo from <a href="https://www.html5rocks.com/en/tutorials/device/orientation/" target="_blank" rel="noopener noreferrer">HTML5 Rocks</a> article.</small></p>
  </div>
  
  <ng-template #notSupportedMessage>
    <div id="logoContainer">Device Orientation API not supported.</div>
  </ng-template>

  <button (click)="askForLocation()" *ngIf="isGeoLocationSupported">Ask for location</button>

  <div *ngIf="currentLocation">
    <p>Location fetched: {{ currentLocation.latitude }}, {{ currentLocation.longitude }}</p>
  </div>
  
  <ng-template #notSupportedMessage>
    <div>Device Orientation API not supported.</div>
  </ng-template>
  
  <ng-template #geoNotSupportedMessage>
    <div>Geolocation API not supported.</div>
  </ng-template>
  