<div *ngIf="navService.showSidenav$ | async" class="sidenav">
    <mat-nav-list>
        <!-- Landingpage -->
        <mat-list-item (click)="navigate('/')">
            <h3>Home</h3>
            </mat-list-item>
        <!-- Uebung 1 -->
        <mat-list-item (click)="navigate('/devs-coffee')">
            <h3 matLine>Devs Coffee</h3>
            </mat-list-item>
        <!-- Uebung 2 -->
        <mat-list-item (click)="navigate('/camera-microphone')">
            <h3 matLine>Camera & Microphone</h3>
            </mat-list-item>
    </mat-nav-list>
</div>
