<div *ngIf="navService.showSidenav$ | async" class="sidenav">
    <mat-nav-list>
        <!-- Landingpage -->
        <mat-list-item (click)="navigate('/')">
            <h3>Home</h3>
        </mat-list-item>
        <!-- Uebung 1 -->
        <mat-list-item (click)="navigate('/devs-hot-coffee')">
            <h3 matLine>Dev's Hot Coffee</h3>
        </mat-list-item>
        <!-- Uebung 2 -->
        <mat-list-item (click)="navigate('/amateur-pwas')">
            <h3 matLine>Amateur Pwa Videos</h3>
        </mat-list-item>
        <!-- Uebung 3 -->
        <mat-list-item (click)="navigate('/gps-positions')">
            <h3 matLine>Favorite Gps Positions</h3>
        </mat-list-item>
        <!-- Uebung 4 -->
        <mat-list-item (click)="navigate('/operating-system')">
            <h3 matLine>Operating System</h3>
        </mat-list-item>
        <!-- Uebung 5 -->
        <mat-list-item (click)="navigate('/native-behaviors')">
            <h3 matLine>Native Behaviors</h3>
        </mat-list-item>
        <!-- Uebung 6 -->
        <mat-list-item (click)="navigate('/battery-status')">
            <h3 matLine>Battery Status</h3>
        </mat-list-item>
        <!-- Uebung 7 -->
        <mat-list-item (click)="navigate('/inventory')">
            <h3 matLine>Inventory</h3>
        </mat-list-item>
        <!-- Uebung 8 -->
        <mat-list-item (click)="navigate('/kanban')">
            <h3 matLine>Kanbanboard</h3>
        </mat-list-item>
    </mat-nav-list>
</div>
