@import '../../variables';

.head{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: fill;
    height: 11%;
    width: 100%;
    z-index: 1;
    background-color: $secondary-color;

    .spacer{
        height: 15%;
        width: 100%;
        background-color: $background-color;
    }

    .mat-icon{
        font-size: 350%;
        height: auto;
        width: auto;
        margin-top: 16px;
        margin-left: 26px;
        color: $primary-color;
        &:hover {
            color: lighten($primary-color, 10%);
        }
    }

    .logo {
        display: block;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 30px;
        position: absolute;
        top: 54%;
        left: 50%;
        margin-left: -420px;
        transform: translate(-50%, -50%);

        span:nth-child(2) {
            background: $primary-color;
            color: $background-color;
            border-radius: 3px;
            padding: 1px 1px 1px 1px;
            display: inline-block;
        }
      }
}
