@import '../variables';

.service-worker-version {
    position: fixed;
    top: 10px;
    right: 10px;
    color: $font-color;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.8em;
    z-index: 1000;
  }
