// Color palette
$primary-color: #e69b00; // Distinct yellow
$secondary-color: #0e0e0e; // Black
$tertiary-color: #212121; // White
$background-color: #000000; // White
$font-color: #ffffff; // White

//   100: rgb(37, 37, 37),
//  200: rgb(14, 14, 14),
//  300: rgb(21, 21, 21),
//  400: rgb(33, 33, 33),